.App {
  text-align: center;
}
.pub{
  margin: auto;
  width: 50%;
}
.pub2{
  margin: auto;
  width: 50%;

}
.title{
  color: brown;
  padding: auto;
 
}
.red{
  border: solid 0.5px red;
  border-radius: 1em;
  border-spacing: 1000%;
  
}

